{% extends 'all/base.html' %}


{% block content %}

<div class="container h-100 d-flex" style="opacity: 0.5;">
    <div class="jumbotron my-auto" >
      <h3 class="display-8" style="font-family: 'Kaushan Script', cursive; color:red;"><strong>“Photography is a way of feeling, of touching, of loving. What you have caught on film is captured forever… It remembers little things, long after you have forgotten everything.”
        </strong> </h3>
        <br>
        <br>

      <p class="lead" style="font-family: 'Fondamento', cursive; font-size: 35px">This is a personal gallery application that displays my photos for others to see and also view photos based on the location they were taken. A user can see photos that interest them and share the link of the photo(s). The photos will have details about them e.g. description, category.</p>
    </div>
</div>
{% endblock %}